.page {
  width: 80em;
  background-color: #000;
  color: #fff;
  font-family: 'Inter-Regular', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 320px){
  .page {
    width: 20em;
  }
}