.photo-grid {
  width: 55em;
  height: 46.8em;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 50px;
  row-gap: 21px;
}

@media screen and (max-width: 320px) {
  .photo-grid {
    width: 19em;
    height: 140em;
    margin-top: 2em;
    margin-right: 0;
    padding-left: 1.3em;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
  }
}