.photo-grid {
  width: 880px;
  height: 750px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 50px;
  row-gap: 21px;
}

@media screen and (max-width: 320px) {
  .photo-grid {
    width: 20em;
    height: 2250px;
    margin: 2em 1.2em 0;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
  }
}