.profile {
  max-width: 880px;
  height: 120px;
  display: flex;
  position: relative;
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: 320px;
    height: 304px;
    display: grid;
    grid-template-areas:
    '. image .'
    '. info edt-btn'
    '. add-btn .';
    /* flex-direction: column;
    align-items: center; */
  }
}