.header {
  width: 880px;
  height: 74px;
  margin: 2.75em auto;
  border-bottom: .1em solid rgba(84, 84, 84, .5);
}

@media screen and (max-width: 320px) {
  .header {
    width: 320px;
    height: 48px;
  }
}