.profile__name {
  font-family: 'Inter-Medium', sans-serif;
  font-size: 2.6em;
  line-height: 114%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 320px) {
  .profile__name {
    font-size: 1.3em;
    line-height: 1.6em;
  }
}