.popup__close-btn {
  display: flex;
  width: 430px;
  flex-direction: row-reverse;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  align-items: center;
  padding: 0;
  transform: translate(2em,-2em);
}

.popup__close-btn:hover {
  opacity: .7;
}

@media screen and (max-width: 320px) {
  .popup__close-btn {
    width: 288px;
    transform: translate(.5em,-2.5em);
  }
}