.photo-grid__like-btn {
  background-image: url(../../../images/love-btn.png);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 1em;
  height: .8em;
  font-size: 1.5em;
  margin-right: .5em;
  cursor: pointer;
  padding: 0;
  border: 0;
}

.photo-grid__like-btn_active {
  background-image: url(../../../images/love-btn-active.png);
  background-repeat: no-repeat;
  background-color: transparent;
}

.photo-grid__like-btn:hover {
  opacity: .7;
}