.footer__cr {
  color: #545454;
  font-size: 1.13em;
  font-family: 'Inter-Regular', sans-serif;
  line-height: 1.2;
}

@media screen and (max-width: 320px) {
  .footer__cr {
    font-size: .7em;
    text-align: center;
  }
}