.popup__submit-btn {
  width: 19.5em;
  height: 3em;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  font-size: 1.2em;
  line-height: 120%;
  font-family: 'Inter-Regular', sans-serif;
}

.popup__submit-btn:hover {
  opacity: .8;
}

@media screen and (max-width: 320px) {
  .popup__submit-btn {
    width: 13.5em;
    height: 2.5em;
    box-sizing: border-box;
    border-radius: 2%;
  }
}